# https://caddyserver.com/docs/caddyfile/options
# docker run --rm -v "./system_files/jumphost/etc/caddy-demo:/etc/caddy" docker.io/library/caddy:2 caddy validate --config /etc/caddy/Caddyfile
# docker run --rm -v "./system_files/jumphost/etc/caddy-demo:/etc/caddy" docker.io/library/caddy:2 caddy fmt --config /etc/caddy/Caddyfile --overwrite
{
	admin off
	skip_install_trust
	local_certs
}
# HTTPS demo backend on 8443
internal.service.local:8443 {
	tls internal # Caddy issues a cert for this host using its own internal CA
	respond /health "ok" 200
	respond "Hello from internal.service.local" 200
}
