[Unit]
Description=Github Action Runner
After=network.target

[Service]
ExecStart=/home/runner/runsvc.sh
User=runner
WorkingDirectory=/home/runner
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=5min

[Install]
WantedBy=multi-user.target