[Unit]
Description=GitHub Actions Runner Listener
Requires=actions-runner-config.service
After=actions-runner-config.service

[Service]
Type=simple
User=runner
Group=runner

WorkingDirectory=/var/lib/actions-runner
EnvironmentFile=/etc/homeserver/metadata/github-runner

ExecStart=/usr/bin/bash -lc '/var/lib/actions-runner/run.sh'
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target