[Unit]
Description=Configure GitHub Actions Runner
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=runner
Group=runner

StateDirectory=actions-runner
WorkingDirectory=/var/lib/actions-runner
EnvironmentFile=/etc/homeserver/metadata/github-runner
Environment=LABELS=self-hosted,Linux,X64

ExecStart=/usr/libexec/actions-runner/configure-runner.sh
RemainAfterExit=yes

RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
