[Unit]
Description=Github Action Runner
After=network.target
Wants=network-online.target
After=network-online.target


[Service]
Type=simple
User=runner
Group=runner
# Persistent writable state: /var/lib/actions-runner
StateDirectory=actions-runner
ExecStart=/usr/bin/bash -lc './run.sh'
WorkingDirectory=/var/lib/actions-runner

KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=5min

[Install]
WantedBy=multi-user.target