[Unit]
Description=Add wheel members to docker groups
After=network.target setup-caspertdk.service systemd-tmpfiles-setup.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -eu /usr/libexec/homer-groups
StandardError=inherit
StandardOutput=journal
RemainAfterExit=yes
Restart=no

[Install]
WantedBy=multi-user.target