[Unit]
Description=Add wheel members to docker groups
After=network.target
#After=network.target homed-firstboot-users.service
#Wants=homed-firstboot-users.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -eu /usr/libexec/homer-groups
StandardError=inherit
StandardOutput=journal
RemainAfterExit=yes
Restart=no

[Install]
WantedBy=multi-user.target