[Unit]
Description=Ensure caspertdk user home setup
After=network-online.target systemd-sysusers.service systemd-tmpfiles-setup.service
Wants=network-online.target
Requires=systemd-sysusers.service

[Service]
Type=oneshot
# todo: move to build system??
ExecStart=/usr/bin/systemd-sysusers
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
