[Unit]
Description=Ensure tmpfiles
After=network-online.target systemd-sysusers.service systemd-tmpfiles-setup.service
Wants=network-online.target
Requires=systemd-sysusers.service

[Service]
Type=oneshot
ExecStart=/usr/bin/systemd-sysusers
ExecStart=/usr/bin/systemd-tmpfiles --create --exclude-prefix=/usr
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
