[Unit]
Description=GitHub Actions Runner
Wants=network-online.target
After=network-online.target

[Container]
Image=ghcr.io/actions/actions-runner:latest
Pull=always
AutoUpdate=registry

# Runner config & state
EnvironmentFile=/etc/homeserver/metadata/github-runner
Environment=RUNNER_LABELS=self-hosted,Linux,X64,Ubuntu
Environment=RUNNER_UID=10001
Environment=RUNNER_GID=10001

Volume=/usr/libexec/entrypoint.sh:/entrypoint.sh
Volume=/var/lib/github-runner/_work:/_work

# If you want docker-compatible socket for docker-based actions:
Volume=/var/run/docker.sock:/var/run/docker.sock

# Run our entrypoint inside the container
Exec=/bin/bash -lc "/entrypoint.sh"

# (Optional) host networking if you need it
# Network=host

[Service]
#User=runner
#Group=runner

#WorkingDirectory=/var/lib/actions-runner

Restart=always
RestartSec=5s
TimeoutStartSec=900

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target