[Unit]
Description=Hosted (web)terminal
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/kasmweb/terminal:1.18.0
Network=host
PublishPort=6901:6901

Environment=VNC_PW=password

[Service]
Restart=always

[Install]
WantedBy=multi-user.target