[Unit]
Description=Configure Caddy
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot

ExecStart=/usr/libexec/configure-caddy.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
